@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
    --white: #ffffff;
    --black: #000000;
    --orange: #d59c00;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
}

#toggle {
    width: 30px;
    height: 30px;
    background-color: var(--white);
    border-width: 1px;
    border-radius: 50%;
    margin-bottom: 10px;
    padding-bottom: 2px;
    border-color: var(--black);
    color: var(--black);
}

.dark {
    --black: #ffffff;
    --white: #000000;
    --orange: #00367d;
    transition: 1s;
}

#toggle:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-color: var(--black);
    color: var(--white);
}

input {
    color: var(--black);
    padding: 17px;
    outline: none;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    border-radius: 30%;
}

.num {
    width: 64px;
    height: 67px;
    margin-top: 3px;
}

.text {
    width: 163px;
    height: 26px;
    border-radius: 22px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 12px;
}

.text1 {
    width: 24px;
    height: 26px;
    border-radius: 50%;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 12px;
    cursor: pointer;
    margin-left: 4px;
}

.main {
    display: inline-block;
}

.maincolor {
    background-color: var(--white);
    border-color: var(--black);
    border-width: 1px;
}

.maincolor:hover {
    transform: scale(1.05);
    transition: 0.15s;
    background-color: var(--white);
}

.side {
    background-color: var(--orange);
    border-width: 1px;
    border-color: var(--black);
}

.side:hover {
    background-color: var(--white);
    transform: scale(1.05);
    transition: 0.15s;
}

