@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



body {
    --white: #ffffff;
    --black: #000000;
    --orange: #d59c00;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1022%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(227%2c 227%2c 227%2c 1)'%3e%3c/rect%3e%3cpath d='M1920 0L1840.39 0L1920 285.12z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1840.39 0L1920 285.12L1920 693.86L822.2200000000001 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M822.22 0L1920 693.86L1920 741.85L399.24 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M399.24 0L1920 741.85L1920 940.53L342.58000000000004 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 1080L497.57 1080L0 955.56z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 955.56L497.57 1080L931.99 1080L0 524.77z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 524.77L931.99 1080L1130.19 1080L0 296.53z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 296.53L1130.19 1080L1387.56 1080L0 131.01999999999998z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1022'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
}

#toggle {
    width: 30px;
    height: 30px;
    background-color: var(--white);
    border-width: 0px;
    border-radius: 50%;
    margin-bottom: 10px;
    padding-bottom: 2px;
    border-color: var(--black);
    color: var(--black);
}

.dark {
    --black: #ffffff;
    --white: #000000;
    --orange: #00367d;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1020%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(18%2c 18%2c 18%2c 1)'%3e%3c/rect%3e%3cpath d='M1920 0L1840.39 0L1920 285.12z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1840.39 0L1920 285.12L1920 693.86L822.2200000000001 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M822.22 0L1920 693.86L1920 741.85L399.24 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M399.24 0L1920 741.85L1920 940.53L342.58000000000004 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 1080L497.57 1080L0 955.56z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 955.56L497.57 1080L931.99 1080L0 524.77z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 524.77L931.99 1080L1130.19 1080L0 296.53z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 296.53L1130.19 1080L1387.56 1080L0 131.01999999999998z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1020'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

#toggle:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-color: var(--black);
    color: var(--white);
}

input {
    color: var(--black);
    padding: 17px;
    outline: none;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    border-radius: 30%;
}

.num {
    width: 64px;
    height: 67px;
    margin-top: 3px;
}

.text {
    width: 163px;
    height: 26px;
    border-radius: 22px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 12px;
}

.text1 {
    width: 24px;
    height: 26px;
    border-radius: 50%;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 12px;
    cursor: pointer;
    margin-left: 4px;
}

.main {
    display: inline-block;
}

.maincolor {
    background-color: var(--white);
    border-color: var(--black);
    border-width: 0px;
}

.maincolor:hover {
    transform: scale(1.05);
    transition: 0.15s;
    background-color: #ffffff00;
}

.side {
    background-color: var(--orange);
    border-width: 0px;
    border-color: var(--black);
}

.side:hover {
    background-color: var(--white);
    transform: scale(1.05);
    transition: 0.15s;
}